/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Typography */
body {
    font-family: 'Montserrat', serif;
    line-height: 1.6;
    background: #1e726e;
    color: #ffffff;
}

/* Header */
header {
    background: linear-gradient(135deg, #2a302f, #1e726e);
    color: #ffffff;
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
}

header p {
    font-size: 1.2em;
}

/* Additional CSS for Project Overview Paragraph */
#overview p {
    text-indent: 2em; /* Adjust the indentation size as needed */
}


/* Sections */
section {
    padding: 2em;
    margin: 2em auto;
    max-width: 800px;
    background: #2a302f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    color: #ffffff; /* Text color for section */
}

section h2 {
    color: #ffffff; /* Heading color */
    margin-bottom: 1em;
}

section p {
    color: #ffffff; /* Paragraph text color */
    margin-bottom: 1.5em;
}

section ul {
    list-style-type: none;
    padding-left: 1em;
}

section ul li {
    margin-bottom: 0.5em;
}

section img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

section a {
    color: #1e726e;
    text-decoration: none;
    transition: color 0.3s;
}

section a:hover {
    color: #ffffff;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
    background: #2a302f;
    color: #2a302f; /* Footer text color */
}

footer a {
    color: #1e726e;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Utility Classes */
.text-center {
    text-align: center;
}

.mt-2 {
    margin-top: 2em;
}

.mb-2 {
    margin-bottom: 2em;
}
/* Highlight Class */
.highlight {
    font-weight: bold; /* Makes text bold */
    color: #1e726e; /* Sets text color (orange in this case) */
    background-color: #e3e666; /* Sets background color (light grey in this case) */
    padding: 0.2em; /* Adds padding around the text */
    border-radius: 4px; /* Optional: rounds the corners of the highlight */
}
